In [69]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset

merged_df = pd.merge(mouse_metadata, study_results, on="Mouse ID")
merged_df = pd.DataFrame(merged_df)
# Display the data table for preview

merged_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [70]:
# Checking the number of mice.

number_of_mice = merged_df["Mouse ID"].nunique()
print(number_of_mice)

249

In [81]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

#merged_df = merged_df.drop_duplicates(["Timepoint", "Mouse ID"])

timepoint_clean = merged_df.groupby("Mouse ID")["Timepoint"]

clean = pd.DataFrame(timepoint_clean)
clean = clean.drop_duplicates(subset="Timepoint")

KeyError: Index(['Timepoint'], dtype='object')